*.iml
.gradle
/local.properties
/.idea
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
build/
/captures
.externalNativeBuild
.cxx
/output
/.kotlin
/cmake/build*
/audit-ui-strings-report.txt
/audit-i18n-bypass-report.txt
/local-release.jks
/gradle/gradle-daemon-jvm.properties
